DISCORD_BOT_TOKEN=your_bot_token_here
EMBEDFORGE_PRO_SKU_ID=
EMBEDFORGE_PRO_URL=https://discord.com/discovery/applications/1477438235608219980/store/1477551786675146804
EMBEDFORGE_PRO_DISPLAY_NAME=EmbedForge Pro
EMBEDFORGE_PRO_AVATAR_URL=https://drive.google.com/uc?export=view&id=1N_lKhtG5O4Y0h1z5mLJp5fWjXmRnNrED
PRO_GUILD_ALLOWLIST=
DB_PATH=
